@model IEnumerable<RentalCopy>

@{
    Layout = "_PdfReportStyle";
}

<table>
    <thead>
        <tr>
            <th>Sub. ID</th>
            <th>Sub. Name</th>
            <th>Sub. Phone</th>
            <th>Bk. Title</th>
            <th>Bk. Author</th>
            <th>Rental Date</th>
            <th>End Date</th>
            <th>Return Date</th>
            <th>Extended On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model)
        {
            <tr>
                <td>@rental.Rental!.Subscriper!.Id</td>
                <td>@rental.Rental!.Subscriper!.FirstName</td>
                <td>@rental.Rental!.Subscriper!.MobileNumber</td>
                <td>@rental.BookCopy!.Book!.Author!.Name</td>
                <td>@rental.BookCopy!.Book!.Title</td>
                <td>@rental.RentalDate.ToString("dd-MM-yyyy")</td>
                <td>@rental.EndDate.ToString("dd-MM-yyyy")</td>
                <td>@rental.ReturnDate?.ToString("dd-MM-yyyy")</td>
                <td>@rental.ExtendOn?.ToString("dd-MM-yyyy")</td>
            </tr>
        }
    </tbody>
</table>