@model BookCopyViewModel

<tr>
    <td>@Model.SerialNumber</td>
    <td>@Model.EditionNumber</td>
    <td>
        <span class="badge badge-light-@(Model.IsAvailableForRental ? "success" : "warning")">
            @(Model.IsAvailableForRental ? "Avaliable" : "Not Avaliable")
        </span>
    </td>
    <td>
        <span class="badge badge-light-@(Model.IsDeleted ? "danger" : "success") js-status">
            @(Model.IsDeleted ? "Deleted" : "Avaliable")
        </span>
    </td>
    <td>
        @* <a asp-controller="BookCopies" asp-action="RentalHistory" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-primary">
            <i class="bi bi-pencil"></i>
            Rental History
        </a> *@
        <a href="javascript:;" class="btn btn-sm btn-outline-primary js-render-modal"
           data-title="Rental History"
           data-url="/BookCopies/RentalHistory/@Model.Id"
           data-update="true">
            <i class="bi bi-pencil"></i>
            Rental History
        </a>
    </td>
    <td>@Model.CreatedOn.ToString("dd-MM-yyyy")</td>
    <td>
        <div class="btn-group">
            <button class="btn btn-link btn-sm show" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="svg-icon svg-icon-primary svg-icon-2x">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="5" y="5" width="5" height="5" rx="1" fill="currentColor" />
                            <rect x="14" y="5" width="5" height="5" rx="1" fill="currentColor" opacity="0.3" />
                            <rect x="5" y="14" width="5" height="5" rx="1" fill="currentColor" opacity="0.3" />
                            <rect x="14" y="14" width="5" height="5" rx="1" fill="currentColor" opacity="0.3" />
                        </g>
                    </svg>
                </span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:;" class="btn btn-sm btn-outline-primary js-render-modal"
                       data-title="Edit Copy"
                       data-url="/BookCopies/Edit/@Model.Id"
                       data-update="true">
                        <i class="bi bi-pencil"></i>
                        Edit
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="btn btn-sm btn-outline-success js-toggle-status"
                       data-url="/BookCopies/ToggleStatus/@Model.Id">
                        Toggle Status
                    </a>
                </li>
            </ul>
        </div>
    </td>
</tr>